<div class="bg-primary-fw">
  <div
    class="pt-20 pb-16 max-w-7xl mx-auto flex flex-row items-center justify-center sm:space-x-14"
  >
    <div class="w-4/6 sm:w-4/12 space-y-4">
      <div>
        <p class="text-secondary-fw text-center">Previous</p>
        <h2 class="text-secondary-fw text-center">{{nextproject.textonelineone}}<br />{{nextproject.textonelinetwo}}</h2>
        <div class="flex items-center justify-center">
          <a class="flex items-center justify-center" href={{nextproject.nextporjectpathone}}>
          <svg
            viewBox="0 0 121 121"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="md:w-3/3 w-1/3"
          >
            <circle
              r="60.5"
              transform="matrix(-1 0 0 1 60.5 60.5)"
              fill="#EBFC68"
            />
            <path
              d="M92 61.3478H29M29 61.3478C37.5175 60.599 55.2573 53.0812 58.0769 29M29 61.3478C35.6084 61.6473 52.371 67.2333 58.0769 91"
              stroke="#264347"
              stroke-width="4"
            />
          </svg></a>
        </div>
      </div>
    </div>
    <div class="w-0.5 h-48 md:h-72 bg-secondary-fw"></div>
    <div class="w-4/6 sm:w-4/12 space-y-4">
      <div>
        <p class="text-secondary-fw text-center">Next</p>
        <h2 class="text-secondary-fw text-center">{{nextproject.texttwolineone}} <br />{{nextproject.texttwolinetwo}} </h2>
        <div class="flex items-center justify-center">
          <a class="flex items-center justify-center" href={{nextproject.nextporjectpathtwo}}>
          <svg
            viewBox="0 0 121 121"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="md:w-3/3 w-1/3"
          >
            <circle cx="60.5" cy="60.5" r="60.5" fill="#EBFC68" />
            <path
              d="M29 61.3478H92M92 61.3478C83.4825 60.599 65.7427 53.0812 62.9231 29M92 61.3478C85.3916 61.6473 68.629 67.2333 62.9231 91"
              stroke="#264347"
              stroke-width="4"
            />
          </svg></a>
        </div>
      </div>
    </div>
  </div>
</div>
