<div class="container">

  <table class="border-separate border border-slate-500 ...">
    <thead>
      <tr>
        <th class="border border-slate-600 ...">#</th>
        <th class="border border-slate-600 ...">FullName</th>
        <th class="border border-slate-600 ...">E-mail</th>
        <th class="border border-slate-600 ...">Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let us of readData;">
        <td class="border border-slate-700 ...">{{us.id}}</td>
        <td class="border border-slate-700 ...">{{us.fullname}}</td>
        <td class="border border-slate-700 ...">{{us.email}}</td>
        <td><ion-button class="" (click)="deleteID(us.id)">Delete</ion-button></td>
      </tr>
    </tbody>
  </table>

</div>