.maximum-hero-height{
    max-height: 1050px;
}

#background-hero {
    background: url("/assets/img/hero-home.webp");
    background-repeat: no-repeat;
    background-size: cover;
    height: 92vh;
    max-height: 1050px;
    min-height: 863px;
  }