
<div class="-mt-36">
<div id="background-hero">
  <!-- <div class="relative">
  <img
    src="./assets/img/hero-home.webp"
    class="text-center -z-10 absolute maximum-hero-height  w-screen -top-32"
  />
</div> -->
<div class="max-w-8xl mx-auto">
  <div class="ml-16 mr-16 md:ml-28 md:mr-28">
    <h1
      class="font-light text-secondary-fw text-5xl xsm:text-5xl sm:text-6xl md:text-6xl lg:text-8xl 2xl:text-8xl 3xl:text-9xl mx-auto max-w-8xl pt-64 sm:pt-64 md:pt-80  2xl:pt-80 3xl:pt-80 z-20 !leading-tight"
    >
      Save the <span class="font-semibold"> world </span><br/>for <span class="font-semibold">our kids</span>
    </h1>
    <h3 class="text-secondary-fw font-extralight text-sm md:text-xl lg:text-3xl">Sustainable Development</h3>
  </div>

  <div class="ml-16 mr-16 md:ml-28 md:mr-28 pt-5 lg:pt-20 2xl:pt-40 max-w-8xl flex flex-col md:flex-row">
    <h3 class=" text-secondary-fw font-extralight text-sm 3xl:text-md md:w-96 md:pr-20 md:border-b-0 border-b-2 pb-10 md:pb-0 md:border-r-2 border-secondary-fw">Sustainable business development is about future-proofing youR company's business model by integrating sustainability into the inner core of your business.</h3>
    <h3 class=" text-secondary-fw font-extralight text-sm 3xl:text-md md:w-96 md:pl-20">Sustainability is far from a new concept. What is new is that with the adaptation of the UN's 17 Global goals, a global language for SDG has been created for the first time.
    </h3>
  </div></div>
</div>
</div> 