<div class="bg-primary-fw w-3/3">
  <div class="ml-16 mr-16 md:ml-28 md:mr-28">
    <div class="max-w-7xl mx-auto">
      <p
        class="text-secondary-fw text-sm md:text-2xl max-w-3xl pt-32 sm:pt-36 md:pt-44 pb-10"
      >
      {{subhero.introtext}}
      </p>
      <div class="flex space-x-6 pb-20 text-secondary-fw">
        <ion-icon class="w-6 h-6" name="logo-facebook"></ion-icon>
        <ion-icon class="w-6 h-6" name="logo-twitter"></ion-icon>
        <ion-icon class="w-6 h-6" name="logo-instagram"></ion-icon>
        <ion-icon class="w-6 h-6" name="logo-linkedin"></ion-icon>
        <button (click)="copyText(subhero.pagelink)"><ion-icon class="w-6 h-6" name="copy-outline"></ion-icon></button>
      </div>
    </div>
  </div>
</div>