<div class="overflow-hidden text-center">
  <p class="lg:text-8xl md:text-6xl sm:text-4xl text-3xl whitespace-nowrap font text-primary-fw -ml-16">
    Poverty - Starvation - Debt - Scarcity - Poverty - Starvation - Debt - Scarcity - Poverty - Starvation - Debt - Scarcity - Poverty - Starvation - Debt - Scarcity - Poverty - Starvation - Debt - Scarcity - Poverty - Starvation - Debt - Scarcity - Poverty - Starvation - Debt - Scarcity - 
  </p>
  <p class="lg:text-8xl md:text-6xl sm:text-4xl text-3xl whitespace-nowrap font text-primary-fw -ml-96">
    Debt - Scarcity - Poverty - Starvation - Debt - Scarcity - Poverty - Starvation - Debt - Scarcity - Poverty - Starvation - Debt - Scarcity - Poverty - Starvation - Debt - Scarcity - Poverty - Starvation - Debt - Scarcity - Poverty - Starvation - Debt - Scarcity - Poverty - Starvation -
  </p>
</div>