.bg-img{
background-image: url("/assets/img/poverty-hero.webp");
height: 100%;}

.bg-img2{
    background-image: url("https://cdn.dribbble.com/userupload/2499597/file/original-b28d1e712313c82a02eabd511d804551.png?compress=1&resize=1024x768");}

