<div>
  <div class=" mt-16 mb-20 md:pt-10 2xl:pt-10 ">
    <div class="max-w-8xl mx-auto">
      <p
        class="text-primary-fw text-3xl md:text-5xl max-w-6xl pt-5 sm:pt-20 md:pt-20 !leading-tight ml-16 mr-16 md:ml-28 md:mr-28"
      >
        We are experts in inspiring companies, to change the world with 4 UN
        Sustainable Development goals.
      </p>
      <!-- <div class="flex ml-16 mr-16 md:ml-28 md:mr-28">
        <p
          class="bg-secondary-fw mr-5 md:mr-20 text-primary-fw py-2 rounded-full text-sm md:text-xl max-w-6xl mt-5 sm:mt-10 md:mt-10 mb-10 !leading-tight font-medium"
        >
          And that's not all
        </p>
        <a href="/about"
          class="bg-primary-fw cursor-pointer text-secondary-fw py-2 px-5 rounded-full text-sm md:text-xl max-w-6xl mt-5 sm:mt-10 md:mt-10 mb-10 !leading-tight font-medium"
        >
          About us
      </a>
      </div> -->
            <div class="flex ml-16 mr-16 md:ml-28 md:mr-28">
        <a href="/about"
          class="bg-primary-fw cursor-pointer text-secondary-fw py-2 px-5 rounded-full text-sm md:text-xl max-w-6xl mt-5 sm:mt-10 md:mt-10 mb-10 !leading-tight font-medium"
        >
          About us
      </a>
      </div>
    </div>
  </div>
</div>
