<div  id="faq" class="max-w-8xl mx-auto">
  <div class="ml-16 mr-16 md:ml-48 md:mr-48 pb-16 pt-16">
    <h1 class="font-bold text-6xl text-primary-fw">FAQ's</h1>
<ion-accordion-group>
  <ion-accordion value="first">
    <ion-item slot="header" class="text-3xl font-bold text-primary-fw">
      <ion-label>What do we do?</ion-label>
    </ion-item>
    <div class="ion-padding text-2xl" slot="content">
      <strong>/Future</strong>World tries to provide answers to some of the most critical questions for companies and try 
      to give inspiration for how work with the goals in mind is approached. So regardless of whether 
      you as a top manager need to understand sustainability as a new basic condition, or whether you s 
      a middle manager need to find inspiration from others or insight into methods that can be useful 
      in your work, there is help here. 

    </div>
  </ion-accordion>
  <ion-accordion value="second">
    <ion-item slot="header" class="text-3xl font-bold text-primary-fw">
      <ion-label>What we want to achieve?</ion-label>
    </ion-item>
    <div class="ion-padding text-2xl" slot="content">
      The 17 goals to transform our world to the better is a big cause for us. To be able to help the world with achieving these is urgent in order to better the world we live in.
    </div>
  </ion-accordion>
  <ion-accordion value="third">
    <ion-item slot="header" class="text-3xl font-bold text-primary-fw">
      <ion-label>Do you have questions?</ion-label>
    </ion-item>
    <div class="ion-padding text-2xl" slot="content">
      You are more than welcome to send us an email on this address: <a href = "mailto: contact@futureworld.com">contact@futureworld.com</a>
    </div>
  </ion-accordion>
</ion-accordion-group>
</div>
</div>