<div class="relative"><img src="./assets/img/businessHome/business-img-1.png" class="absolute mt-44 -ml-28 w-64 2xl:w-auto  max-w-sm hidden xl:block" /></div>
<div class="relative"><img src="./assets/img/businessHome/business-img-2.png" class="absolute w-40 2xl:w-auto mt-16 ml-40 2xl:ml-60 3xl:ml-64 max-w-sm  hidden xl:block" /></div>

<div class="relative"><img src="./assets/img/businessHome/business-img-4-v2.png" class="absolute mt-28 w-44 2xl:w-auto right-0 max-w-sm  hidden xl:block" /></div>
<div class="relative"><img src="./assets/img/businessHome/business-img-3.png" class="absolute mt-20 w-44 2xl:w-auto mr-28 right-0 max-w-sm  hidden xl:block" /></div>

<div class="relative"><img src="./assets/img/businessHome/image102.png" class="absolute mt-36 left-0 w-1/6 max-w-sm hidden  xl:hidden semixsm:block" /></div>
<div class="relative"><img src="./assets/img/businessHome/image103.png" class="absolute mt-20 right-0  w-1/6 max-w-sm hidden  xl:hidden semixsm:block" /></div>

<div class="bg-primary-fw mb-10 pb-20 mt-32">
  <div class="">
<h2 class="text-center font-light text-secondary-fw text-3xl xsm:text-3xl sm:text-4xl md:text-5xl 2xl:text-7xl mx-auto max-w-8xl pt-20 sm:pt-36 md:pt-38 lg:pt-28 z-20 !leading-tight">
  How does this <span class="font-semibold">help</span> <br/>
your <span class="font-semibold">business</span>
</h2>

<p
class="px-8 semixsm:px-28 md:px-8 lg:px-0 text-secondary-fw py-2 rounded-full text-sm md:text-lg max-w-xl mx-auto mt-5 sm:mt-5 md:mt-5 !leading-tight font-light text-center"
>
Our goal is to help you integrate four of the most important and relevant Sustainable Development goals, in order to skyrocket your business while solving worldwide problems.
</p>
<div class="text-center">
  <a href="/about">
<button
class="bg-secondary-fw text-center text-primary-fw py-2 px-5 rounded-full text-sm md:text-xl  mt-5 sm:mt-3 md:mt-3 mb-3 !leading-tight font-medium cursor-pointer"
>
Learn more
</button></a></div></div>
</div>


