<div class="ml-16 mr-16 md:ml-28 md:mr-28">
  <div class="max-w-7xl mx-auto">
    <div class="container md:px-6 py-28 md:py-36 mx-auto grid md:grid-cols-2">
      <h2 class="text-2xl text-primary-fw capitalize md:text-3xl lg:text-5xl">
        <div class="flex">
          <span class="font-semibold">{{primarylist.titlepartone}}</span>
          <span class="flex font-light">&nbsp;{{primarylist.titleparttwo}}</span>
        </div>
        <span class="flex font-light">{{primarylist.titlepartthree}}</span>
        
      </h2>

      <div class="grid grid-cols-1 mt-5">
        <div>

          <p
            class="font-medium text-md md:text-lg smallxl:text-2xl text-primary-fw"
          >
          {{primarylist.textone}}
        </p>
        </div>

        <li class="mt-2 text-md md:text-lg smallxl:text-xl">
          {{primarylist.listone}}
        </li>
        <li class="mt-2 text-md md:text-lg smallxl:text-xl">
          {{primarylist.listtwo}}
        </li>
        <li class="mt-2 text-md md:text-lg smallxl:text-xl">
          {{primarylist.listthree}}
        </li>
        <li class="mt-2 text-md md:text-lg smallxl:text-xl">
          {{primarylist.listfour}}
        </li>
        <li class="mt-2 text-md md:text-lg smallxl:text-xl">
          {{primarylist.listfive}}
        </li>
        <li class="mt-2 text-md md:text-lg smallxl:text-xl">
          {{primarylist.listsix}}
        </li>

        <p
          class="font-medium text-md md:text-xl smallxl:text-2xl text-primary-fw mt-20"
        >
        {{primarylist.textthreetitle}}</p>
        <p
          class="font-medium text-md md:text-xl smallxl:text-lg text-primary-fw mt-3"
        >
        {{primarylist.textthree}}</p>
</div>
