<div class="ml-16 mr-16 md:ml-28 md:mr-28">
  <div class="max-w-7xl mx-auto">
    <div class="container md:px-6 py-28 md:py-36 mx-auto grid md:grid-cols-2">
      <h2 class="text-2xl text-primary-fw capitalize md:text-3xl lg:text-5xl">
        <div class="flex">
          <span class="font-semibold">{{secondarytext.titlepartone}}</span>
          <span class="flex font-light">&nbsp;{{secondarytext.titleparttwo}}</span>
        </div>
        <span class="flex font-light">{{secondarytext.titlepartthree}}</span>
        
      </h2>

      <div class="grid grid-cols-1 mt-5">
        <div>
          <p
            class="font-medium text-md md:text-lg smallxl:text-2xl text-primary-fw"
          >
          {{secondarytext.textone}}
          </p>
        </div>

        <p class="mt-4 text-md md:text-lg smallxl:text-xl">
          {{secondarytext.texttwo}}
        </p>

        <p class="mt-2 text-md md:text-md underline text-primary-fw">
          <a class="text-primary-fw" href={{secondarytext.ctalink}}>
          {{secondarytext.cta}}</a>
        </p>

        <p
          class="font-medium text-md md:text-xl smallxl:text-2xl text-primary-fw mt-28"
        >
        {{secondarytext.textthree}}
        </p>
      </div>
    </div>
  </div>
</div>
