<div class="ml-16 mr-16 md:ml-28 md:mr-28">
  <div class="mt-0 mb-0 max-w-7xl mx-auto">
    <h2 class="text-2xl text-primary-fw capitalize md:text-3xl lg:text-4xl">
      <div class="flex">
        <span class="font-semibold">{{factbox.titlepartone}}</span>
        <span class="flex font-light">&nbsp;{{factbox.titleparttwo}}</span>
        <span class="flex font-light">&nbsp;{{factbox.titlepartto}}</span>
      </div><div class="flex">
      <span class="flex font-light">{{factbox.titlepartthree}}</span>
      <span class="font-semibold">&nbsp;{{factbox.titlepartfour}}</span></div>
    </h2>
  </div>
  <div
    class="mt-10 mb-20 max-w-7xl mx-auto flex flex-col sm:flex-row items-center justify-center sm:space-x-14"
  >
    <div class="w-4/6 sm:w-4/12 space-y-4">
      <p class="font-light text-md md:text-lg smallxl:text-2xl text-primary-fw">
        {{factbox.subtitleone}}
      </p>
      <p
        class="font-medium text-md md:text-lg smallxl:text-2xl text-primary-fw"
      >
        {{factbox.textone}}
      </p>
    </div>

    <div class="w-4/6 sm:w-4/12 space-y-4">
      <p class="font-light text-md md:text-lg smallxl:text-2xl text-primary-fw">
        {{factbox.subtitletwo}}
      </p>
      <p
        class="font-medium text-md md:text-lg smallxl:text-2xl text-primary-fw"
      >
      {{factbox.texttwo}}
      </p>
    </div>

    <div class="w-4/6 sm:w-4/12 space-y-4">
      <p class="font-light text-md md:text-lg smallxl:text-2xl text-primary-fw">
        {{factbox.subtitlethree}}
      </p>
      <p
        class="font-medium text-md md:text-lg smallxl:text-2xl text-primary-fw"
      >
      {{factbox.textthree}}
      </p>
    </div>
  </div>
</div>
