<div class="container">

  <table class="border-separate border border-slate-500 ...">
    <thead>
      <tr>
        <th class="border border-slate-600 ...">#</th>
        <th class="border border-slate-600 ...">title</th>
        <th class="border border-slate-600 ...">imghero</th>
        <th class="border border-slate-600 ...">resumetxt</th>
        <th class="border border-slate-600 ...">subtitle</th>
        <th class="border border-slate-600 ...">content</th>
        <th class="border border-slate-600 ...">imgcontent</th>
        <th class="border border-slate-600 ...">quote</th>
        <th class="border border-slate-600 ...">Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="border border-slate-700 ...">{{props.id}}</td>
        <td class="border border-slate-700 ...">{{props.title}}</td>
        <td class="border border-slate-700 ...">{{props.imghero}}</td>
        <td class="border border-slate-700 ...">{{props.resumetxt}}</td>
        <td class="border border-slate-700 ...">{{props.subtitle}}</td>
        <td class="border border-slate-700 ...">{{props.content}}</td>
        <td class="border border-slate-700 ...">{{props.imgcontent}}</td>
        <td class="border border-slate-700 ...">{{props.quote}}</td>
        <td><ion-button >Delete</ion-button>
        <a >Update</a>
        </td>
      </tr>
    </tbody>
  </table>

</div>