<div class="ml-16 mr-16 md:ml-28 md:mr-28">
  <div class="max-w-7xl mx-auto">
    <div class="container md:px-6 py-28 md:py-36 mx-auto grid md:grid-cols-2">
      <h2 class="text-2xl text-primary-fw capitalize md:text-3xl lg:text-5xl">
        <div class="flex">
          <span class="font-semibold">{{primarytext.titlepartone}}</span>
          <span class="flex font-light">&nbsp;{{primarytext.titleparttwo}}</span>
        </div>
        <span class="flex font-light">{{primarytext.titlepartthree}}</span>
        
      </h2>

      <div class="grid grid-cols-1 mt-5">
        <div>
          <p
            class="font-medium text-md md:text-lg smallxl:text-2xl text-primary-fw"
          >
          {{primarytext.textone}}
          </p>
        </div>

        <p class="mt-4 text-md md:text-lg smallxl:text-xl">
          {{primarytext.texttwo}}
        </p>


        <p class="mt-4 text-md md:text-lg smallxl:text-xl">
        {{primarytext.textthree}}
        </p>
      </div>
    </div>
  </div>
</div>
