<div class="scroll">
<app-light-nav></app-light-nav>
<about-hero></about-hero>
<app-quote></app-quote>
<app-how-it-helps></app-how-it-helps>
<app-about-us-textbox></app-about-us-textbox>
<div class="overflow-hidden text-center">
    <p class="lg:text-8xl md:text-6xl sm:text-4xl text-3xl whitespace-nowrap font text-primary-fw -ml-16">
        No Poverty - Decent Work And Economic Growth - Reduced Inequalised - Responsible Consumption And Production - No Poverty - Decent Work And Economic Growth - Reduced Inequalised - Responsible Consumption And Production - No Poverty - Decent Work And Economic Growth - Reduced Inequalised - Responsible Consumption And Production - 
    </p>
    <p class="lg:text-8xl md:text-6xl sm:text-4xl text-3xl whitespace-nowrap font text-primary-fw -ml-96">
        Reduced Inequalised - Responsible Consumption And Production - Reduced Inequalised - Responsible Consumption And Production - No Poverty - Decent Work And Economic Growth - Reduced Inequalised - Responsible Consumption And Production - No Poverty - Decent Work And Economic Growth - Reduced Inequalised - Responsible Consumption And Production - 
    </p>
  </div>
<app-info-with-image></app-info-with-image>
<app-faq></app-faq>
<app-secondary-footer></app-secondary-footer>