
<section class="slide-option">
	<h2 class="text-center font-semibold text-primary-fw text-3xl xsm:text-3xl sm:text-4xl md:text-5xl 2xl:text-7xl mx-auto max-w-8xl pt-20 sm:pt-20 md:pt-20 lg:pt-20 z-20 !leading-tight mb-20">
    Follow <span class="font-light">Us</span>
  </h2>
	<div id="infinite" class="element-slider">
		<div class="container element-barrier">
			<ul class="all-elements">
				<li class="single-element"><span class="mx-4"><img src="./assets/img/follow-img-home/img1.png" class="" /></span></li>
				<li class="single-element"><span class="mx-4"><img src="./assets/img/follow-img-home/img2.png" class="" /></span></li>
				<li class="single-element"><span class="mx-4"><img src="./assets/img/follow-img-home/img3.png" class="" /></span></li>
				<li class="single-element"><span class="mx-4"><img src="./assets/img/follow-img-home/img4.png" class="" /></span></li>
				<li class="single-element"><span class="mx-4"><img src="./assets/img/follow-img-home/img1.png" class="" /></span></li>
				<li class="single-element"><span class="mx-4"><img src="./assets/img/follow-img-home/img2.png" class="" /></span></li>
				<li class="single-element"><span class="mx-4"><img src="./assets/img/follow-img-home/img3.png" class="" /></span></li>
				<li class="single-element"><span class="mx-4"><img src="./assets/img/follow-img-home/img4.png" class="" /></span></li>
				<li class="single-element"><span class="mx-4"><img src="./assets/img/follow-img-home/img1.png" class="" /></span></li>
				<li class="single-element"><span class="mx-4"><img src="./assets/img/follow-img-home/img2.png" class="" /></span></li>
				<li class="single-element"><span class="mx-4"><img src="./assets/img/follow-img-home/img3.png" class="" /></span></li>
				<li class="single-element"><span class="mx-4"><img src="./assets/img/follow-img-home/img4.png" class="" /></span></li>
				
				<li class="single-element"><span class="mx-4"><img src="./assets/img/follow-img-home/img1.png" class="" /></span></li>
				<li class="single-element"><span class="mx-4"><img src="./assets/img/follow-img-home/img2.png" class="" /></span></li>
				<li class="single-element"><span class="mx-4"><img src="./assets/img/follow-img-home/img3.png" class="" /></span></li>
				<li class="single-element"><span class="mx-4"><img src="./assets/img/follow-img-home/img4.png" class="" /></span></li>
				<li class="single-element"><span class="mx-4"><img src="./assets/img/follow-img-home/img1.png" class="" /></span></li>
				<li class="single-element"><span class="mx-4"><img src="./assets/img/follow-img-home/img2.png" class="" /></span></li>
				<li class="single-element"><span class="mx-4"><img src="./assets/img/follow-img-home/img3.png" class="" /></span></li>
				<li class="single-element"><span class="mx-4"><img src="./assets/img/follow-img-home/img4.png" class="" /></span></li>
				<li class="single-element"><span class="mx-4"><img src="./assets/img/follow-img-home/img1.png" class="" /></span></li>
				<li class="single-element"><span class="mx-4"><img src="./assets/img/follow-img-home/img2.png" class="" /></span></li>
				<li class="single-element"><span class="mx-4"><img src="./assets/img/follow-img-home/img3.png" class="" /></span></li>
				<li class="single-element"><span class="mx-4"><img src="./assets/img/follow-img-home/img4.png" class="" /></span></li>
			</ul>
		</div>
	</div>
</section>
