<div class="scroll">
<app-light-nav></app-light-nav>
<home-hero></home-hero>
<app-sub-hero></app-sub-hero>
<app-four-goals></app-four-goals>
<div id="sdgs" class="max-w-8xl mx-auto text-primary-fw">
    <p
        class="text-primary-fw text-3xl md:text-5xl 3xl:text-7xl max-w-6xl pt-5 sm:pt-20 md:pt-20 !leading-tight ml-16 mr-16 md:ml-28 md:mr-28 mb-10"
      >
      <span class="font-semibold">All of </span>our Sustainable <br> Development <span class="font-semibold">goals</span>
      </p>
<swiper [config]="swiperConfig" class="swiper-container"
      [slidesPerView]="3"
      [spaceBetween]="50"
      (swiper)="onSwiper($event)"
      (slideChange)="onSlideChange()"
      [navigation]="true"
      [pagination]="{ clickable: true }"
      [scrollbar]="{ draggable: true }"
    >
      <ng-template swiperSlide>
        <a class="text-primary-fw" href="/poverty">
        <img class="cursor-pointer" src="./assets/img/homeSlider/slider-img-1.webp"/>
        <div class="flex flex-row group cursor-pointer">
        <p class="xxxsm:text-2xl semixsm:text-3xl lg:text-4xl xl:text-5xl 3xl:text-6xl mt-6">Poverty</p>
        <!-- <div class=" xxxsm:hidden semixsm:block w-12 lg:w-16 xl:w-16 3xl:w-20 3xl:ml-10 ml-6 mt-8 relative group-hover:translate-x-10 translate-x-4 pb-10 transform transition duration-300 ease-in-out">
        <img class="absolute" src="./assets/img/homeSlider/arrow.svg"/>
    </div> -->
</div>
<p class="xxxsm:hidden xsm:block xxxsm:text-sm lg:text-lg xl:text-xl 3xl:text-2xl mt-3 cursor-pointer">Sustainable Development <br> goal nr. 1</p>
</a>
    </ng-template>
      <ng-template swiperSlide>
        <a class="text-primary-fw" href="/work-and-economic-growth">
        <img class="cursor-pointer" src="./assets/img/homeSlider/slider-img-2.webp"/>
        <div class="flex flex-row group cursor-pointer">
        <p class="xxxsm:text-2xl semixsm:text-2xl lg:text-4xl xl:text-5xl 3xl:text-6xl mt-6">Economic growth</p>
        
</div>
        <p class="xxxsm:hidden xsm:block xxxsm:text-sm lg:text-lg xl:text-xl 3xl:text-2xl mt-3 cursor-pointer">Sustainable Development <br> goal nr. 8</p>
      </a>
      </ng-template>
      <ng-template swiperSlide>
        <a class="text-primary-fw" href="/reduced-inequalities">
        <img class="cursor-pointer" src="./assets/img/homeSlider/slider-img-3.webp"/>
        <div class="flex flex-row group cursor-pointer">
        <p class="xxxsm:text-2xl semixsm:text-2xl lg:text-4xl xl:text-5xl 3xl:text-6xl mt-6">Less inequality</p>
        
</div>
<p class="xxxsm:hidden xsm:block xxxsm:text-sm lg:text-lg xl:text-xl 3xl:text-2xl mt-3 cursor-pointer">Sustainable Development <br> goal nr. 10</p>
</a>
      </ng-template>
      <ng-template swiperSlide>
        <a class="text-primary-fw" href="/consumption-and-production">
        <img class="cursor-pointer" src="./assets/img/homeSlider/slider-img-4.webp"/>
        <div class="flex flex-row group cursor-pointer">
        <p class="xxxsm:text-2xl semixsm:text-2xl lg:text-4xl xl:text-5xl 3xl:text-6xl mt-6">Production</p>
        
</div>
<p class="xxxsm:hidden xsm:block xxxsm:text-sm lg:text-lg xl:text-xl 3xl:text-2xl mt-3 cursor-pointer">Sustainable Development <br> goal nr. 12</p>
</a>
      </ng-template>
    </swiper>
</div>
<app-how-help-business></app-how-help-business>
<app-follow-us></app-follow-us>
<app-footer></app-footer>
</div>

