<div class="max-w-8xl mx-auto">
  <div class="ml-16 mr-16 md:ml-28 md:mr-28">
    <div class="container mx-auto">
      <div class="flex justify-center my-12">
        <!-- Row -->
        <div class="w-full flex">
          <!-- Col -->
          <div class="w-full h-auto hidden lg:block lg:w-1/2 bg-cover rounded-l-lg">
            <img src="./assets/img/about-info-image.webp" class="mt-10 2xl:mt-0 xl:mt-12 lg:mt-10">
          </div>
          <!-- Col -->
          <div class="w-full lg:w-1/2">
            <p class="mt-4 text-md lg:text-sm xl:text-2xl md:text-base text-primary-fw about-info-responsive-fix">
              Sustainability has for many years been an important focus area in business. The UN’s development agenda is an important common frame of reference, which has really fueled sustainable development. Roughly speaking, the trend is a movement from showing social responsibility and securing a good reputation to understanding, developing and implementing sustainable solutions for a new and infinitely large commercial market and thus contributing to ensuring the company’s growth and survival in the future.<br><br>
              But sustainability is a broad concept and for most people very difficult to navigate. In order to meet expectations and thus also reap the financial opportunities on global markets, companies must be able to integrate sustainability into their core business. The goal of this portal is to help companies with this strategic effort.
              </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>