<div class="ml-16 mr-16 md:ml-28 md:mr-28">
  <div class="max-w-7xl mx-auto">
    <div class="container md:px-6 py-28 md:py-36 mx-auto grid md:grid-cols-2">
      <h2 class="text-2xl text-primary-fw capitalize md:text-3xl lg:text-5xl">
        <div class="flex">
          <span class="font-semibold">{{secondarylist.titlepartone}}</span>
          <span class="flex font-light">&nbsp;{{secondarylist.titleparttwo}}</span>
        </div>
        <span class="flex font-light">{{secondarylist.titlepartthree}}</span>
        
      </h2>

      <div class="grid grid-cols-1 mt-5">
        <div>

          <p
            class="font-medium text-md md:text-lg smallxl:text-2xl text-primary-fw"
          >
          {{secondarylist.textone}}
        </p>
        </div>

        <li class="mt-2 text-md md:text-lg smallxl:text-xl">
          {{secondarylist.listone}}
        </li>
        <li class="mt-2 text-md md:text-lg smallxl:text-xl">
          {{secondarylist.listtwo}}
        </li>
        <li class="mt-2 text-md md:text-lg smallxl:text-xl">
          {{secondarylist.listthree}}
        </li>
        <li class="mt-2 text-md md:text-lg smallxl:text-xl">
          {{secondarylist.listfour}}
        </li>
        

        <p
          class="font-medium text-md md:text-xl smallxl:text-2xl text-primary-fw mt-20"
        >
        {{secondarylist.textthreetitle}}</p>
        <li
          class="font-medium text-md md:text-xl smallxl:text-lg text-primary-fw mt-3"
        >
        {{secondarylist.textthree}}</li>
        <li
        class="font-medium text-md md:text-xl smallxl:text-lg text-primary-fw mt-3"
      >
      {{secondarylist.textfour}}</li>
      <li
        class="font-medium text-md md:text-xl smallxl:text-lg text-primary-fw mt-3"
      >
      {{secondarylist.textfive}}</li>
      <li
      class="font-medium text-md md:text-xl smallxl:text-lg text-primary-fw mt-3"
    >
    {{secondarylist.textsix}}</li>
</div>
