<div class="max-w-8xl mx-auto"> 
 <div class="ml-16 mr-16 md:ml-28 md:mr-28">
    <div class="container max-w-8xl mx-auto">
      <div class="md:px-6 md:py-16 grid md:grid-cols-2">
          <div class="grid grid-cols-1 xl:mr-20">
            <h2>“All of the goals are aimed for everyone. So, every single individual can make a change for the world. But the biggest change can happen 
              through the corporate world. “</h2>
          </div>
  
        <div class="grid grid-cols-1 mt-5">
          <div>
          <div class="text-md lg:text-sm xl:text-2xl md:text-base text-primary-fw about-info-responsive-fix text-left space-y-5 text-primary-fw">
            <p>
              This website was developed by 4 Danish students at Academy of Technologies and Business Zealand. 
              <strong>/Future</strong>World tries to provide answers to some of the most critical questions for companies and try to give inspiration for how work with the goals in 
              mind. So regardless of whether you as a top manager need to understand sustainability as a new basic condition, or whether you s a middle manager need to find inspiration
              from others or insight into methods that can be useful in your work, there is help here.
              </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>