<div class="ml-16 mr-16 md:ml-28 md:mr-28">
  <div class="container max-w-8xl mx-auto">
    <div class="md:px-6 md:py-16 grid md:grid-cols-3">
      <!-- <h2 class="text-2xl text-primary-fw capitalize md:text-3xl lg:text-5xl"> -->
        <div class="grid grid-cols-1 col-span-2 mr-20">
          <h2>“The 17 goals to transform our world to the better is a big cause for us. To be able to help the world with achieving these is urgent in order to better the world we live in.”</h2>
        </div>

      <div class="grid grid-cols-1 mt-5">
        <div>
        <div class="text-left space-y-5 text-2xl text-primary-fw">
          <p>Who we are<br><strong>/Future</strong>World</p>
          <p>Vision<br><strong>Ensure the 2030 agenda is achieved</strong></p>
          <p>Mission<br><strong>Spread the word to the corporate world</strong></p>
        </div>
      </div>
    </div>
  </div>
</div>