<div class=" scroll">
  <app-dark-nav></app-dark-nav>
<!-- <h1>Skift indhold</h1>

<ion-button href="dashboard/create">
  Create
</ion-button>
<ion-button href="dashboard/read">
  Read
</ion-button> -->


<div class="">

  <div class="">
    <div>
      <div *ngFor = "let props of readData;">
        <div class="ml-16 mr-16 md:ml-28 md:mr-28">
          <h1
            class="text-primary-fw text-2xl xsm:text-2xl sm:text-3xl md:text-4xl 2xl:text-6xl mx-auto max-w-7xl mt-36 sm:mt-36 md:mt-56"
          >
            {{props.title}}
          </h1>
        </div>

        <div>
          <ion-img class="w-full" src={{props.imghero}} alt="Alt description"></ion-img>
        </div>

        <div class="bg-primary-fw w-3/3">
          <div class="ml-16 mr-16 md:ml-28 md:mr-28">
            <div class="max-w-7xl mx-auto">
              <p
                class="text-secondary-fw text-sm md:text-2xl max-w-3xl pt-32 sm:pt-36 md:pt-44 pb-10 text-left"
              >
              {{props.resumetxt}}
              </p>
              <div class="flex space-x-6 pb-20 text-secondary-fw">
                <ion-icon class="w-6 h-6" name="logo-facebook"></ion-icon>
                <ion-icon class="w-6 h-6" name="logo-twitter"></ion-icon>
                <ion-icon class="w-6 h-6" name="logo-instagram"></ion-icon>
                <ion-icon class="w-6 h-6" name="logo-linkedin"></ion-icon>
                <button (click)="copyText(subhero.pagelink)"><ion-icon class="w-6 h-6" name="copy-outline"></ion-icon></button>
              </div>
            </div>
          </div>
        </div>

        <div class="container md:px-6 py-28 md:py-36 mx-auto grid md:grid-cols-2">
          <h2 class="text-2xl text-primary-fw capitalize md:text-3xl lg:text-5xl">
            <div class="flex">
              <span class="font-semibold w-96">{{props.subtitle}}</span>
            </div>
            
          </h2>
    
          <div class="grid grid-cols-1 mt-5">
            <div>
              <p
                class="font-medium text-md md:text-lg smallxl:text-2xl text-primary-fw"
              >
              {{props.content}}
              </p>
            </div>
    
            <p class="mt-4 text-md md:text-lg smallxl:text-xl">
              {{primarytext.texttwo}}
            </p>
    
    
            <p class="mt-4 text-md md:text-lg smallxl:text-xl">
            {{primarytext.textthree}}
            </p>
          </div>
        </div>

        
      <div class="flex space-x-6 pb-20 text-secondary-fw">
        <ion-icon class="w-6 h-6" name="logo-facebook"></ion-icon>
        <ion-icon class="w-6 h-6" name="logo-twitter"></ion-icon>
        <ion-icon class="w-6 h-6" name="logo-instagram"></ion-icon>
        <ion-icon class="w-6 h-6" name="logo-linkedin"></ion-icon>
        <button (click)="copyText(subhero.pagelink)"><ion-icon class="w-6 h-6" name="copy-outline"></ion-icon></button>
      </div>

        


        <span class="border border-slate-700 ...">{{props.resumetxt}}</span>
        <span class="border border-slate-700 ...">{{props.subtitle}}</span>
        <span class="border border-slate-700 ...">{{props.content}}</span>
        <span class="border border-slate-700 ...">{{props.imgcontent}}</span>
        <span class="border border-slate-700 ...">{{props.quote}}</span>
        <span>
        </span>
      </div>
    </div>
  </div>

</div>


<router-outlet></router-outlet>
</div>
