.scroll{ 
    height: 100vh;
    overflow-y: scroll;
    width: 100%;
    background-color: #efede6;
  }

  .background-hero{
    background: linear-gradient(transparent 50%, #264347 40%) no-repeat;
    bottom: 0;
}