<div class=" scroll">
  <app-dark-nav></app-dark-nav>
<!-- <h1>Skift indhold</h1>

<ion-button href="dashboard/create">
  Create
</ion-button>
<ion-button href="dashboard/read">
  Read
</ion-button> -->


<div class="">

  <div class="text-center">
    <div>
      <div *ngFor = "let props of readData;">
        <div class="ml-16 mr-16 md:ml-28 md:mr-28">
          <h1
            class="text-primary-fw text-2xl xsm:text-2xl sm:text-3xl md:text-4xl 2xl:text-6xl mx-auto max-w-7xl mt-36 sm:mt-36 md:mt-56"
          >
            {{props.title}}
          </h1>
        </div>

        
<div>
  <ion-img class="w-full" src={{props.imghero}} alt="Alt description"></ion-img>
</div>

        <span class="border border-slate-700 ...">{{props.resumetxt}}</span>
        <span class="border border-slate-700 ...">{{props.subtitle}}</span>
        <span class="border border-slate-700 ...">{{props.content}}</span>
        <span class="border border-slate-700 ...">{{props.imgcontent}}</span>
        <span class="border border-slate-700 ...">{{props.quote}}</span>
        <span>
        </span>
      </div>
    </div>
  </div>

</div>


<router-outlet></router-outlet>
</div>
