<div class="-mt-36">
  <div id="background-hero">
  <div class="max-w-8xl mx-auto">
    <div class="ml-16 mr-16 md:ml-28 md:mr-28">
      <h1 class="font-light text-secondary-fw text-2xl xsm:text-1xl sm:text-3xl md:text-3xl lg:text-4xl 2xl:text-5xl 3xl:text-7xl pt-64 sm:pt-64 md:pt-80 2xl:pt-80 3xl:pt-80 z-20 !leading-tight ">
        We are experts in inspiring companies, to <strong>change</strong> the world with 4 of UN's Sustainable Development Goals.
      </h1>
    </div>
    </div>
  </div>
  </div>